n8n/workflows/account-alerts.before-min77.json
{
  "_snapshot_meta": {
    "workflow_id": "3378kEby9ZyhzIOk",
    "name": "Inbound Synthesis - Account Alerts v0",
    "captured_at": "2026-04-30",
    "purpose": "Pre-MIN-77 reference snapshot of WF1. Captured before Slack alert redesign + Set node + synthesis blurb + best_contact_email + signal_event_ids fixes.",
    "active": false,
    "versionId": "2365da8b-ee39-4cc1-b68b-274a0e4f7911",
    "node_count": 6,
    "sticky_count": 5
  },
  "name": "Inbound Synthesis - Account Alerts v0",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "connections": {
    "Signal Ingest": {
      "main": [[{ "node": "Query Signal Events", "type": "main", "index": 0 }]]
    },
    "Query Signal Events": {
      "main": [[{ "node": "Transform to Scoring Payload", "type": "main", "index": 0 }]]
    },
    "Transform to Scoring Payload": {
      "main": [[{ "node": "Score Account + Pick Contact", "type": "main", "index": 0 }]]
    },
    "Score Account + Pick Contact": {
      "main": [[{ "node": "Write inbound_alerts Row", "type": "main", "index": 0 }]]
    },
    "Write inbound_alerts Row": {
      "main": [[{ "node": "Send a message", "type": "main", "index": 0 }]]
    }
  },
  "nodes": [
    {
      "id": "226cec2e-c4d2-44a9-a5bb-14f943df2cc4",
      "name": "Signal Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, -16],
      "webhookId": "d12f52ff-ebf3-499e-b2f7-3eb55c372cb1",
      "parameters": {
        "httpMethod": "POST",
        "path": "synthesis-ingest",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "81c06154-4fc8-4d52-ba58-f926196ba17d",
      "name": "Query Signal Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-608, -16],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  account_id,\n  account_name,\n  person_id,\n  person_email,\n  person_title,\n  source,\n  event_type,\n  signal_weight,\n  first_party,\n  occurred_at\nFROM signal_events\nWHERE account_id = '{{ $json.body.account_id }}'\n  AND occurred_at >= now() - interval '30 days'\nORDER BY occurred_at ASC",
        "options": {}
      }
    },
    {
      "id": "4af434f8-aa87-4587-8a5f-fa8bfc561a9d",
      "name": "Transform to Scoring Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, -16],
      "parameters": {
        "jsCode": "// Aggregate signal_events rows into the {account, signals, contacts} shape the scorer expects.\nconst rows = $input.all().map(item => item.json);\n\nif (rows.length === 0) {\n  return [{ body: { account: { id: null, name: null }, signals: [], contacts: [] } }];\n}\n\nconst accountId = rows[0].account_id;\nconst accountName = rows[0].account_name;\n\n// Derive role_tier from title\nfunction inferRoleTier(title) {\n  if (!title) return 'end_user';\n  const t = title.toLowerCase();\n  if (/\\b(ceo|cfo|cto|cmo|cro|coo|chief|vp|vice president|founder|president)\\b/.test(t)) return 'decision_maker';\n  if (/\\b(director|head of|lead|principal|staff|senior)\\b/.test(t)) return 'influencer';\n  return 'end_user';\n}\n\n// Build contacts from distinct person_ids\nconst contactsMap = {};\nfor (const r of rows) {\n  if (!r.person_id) continue;\n  if (!contactsMap[r.person_id]) {\n    contactsMap[r.person_id] = {\n      id: r.person_id,\n      name: (r.person_email || '').split('@')[0].split('.').map(p => p.charAt(0).toUpperCase() + p.slice(1)).join(' '),\n      title: r.person_title || 'Unknown',\n      role_tier: inferRoleTier(r.person_title)\n    };\n  }\n}\nconst contacts = Object.values(contactsMap);\n\n// Build signals; compute days_ago and repeat_count\nconst now = Date.now();\nconst typeContactCount = {};\nconst signals = rows.map((r, idx) => {\n  const occurredMs = new Date(r.occurred_at).getTime();\n  const daysAgo = Math.max(0, Math.round((now - occurredMs) / 86400000));\n  const key = r.event_type + '|' + (r.person_id || 'anon');\n  typeContactCount[key] = (typeContactCount[key] || 0) + 1;\n  return {\n    id: 's' + (idx + 1),\n    type: r.event_type,\n    contact_id: r.person_id || null,\n    days_ago: daysAgo,\n    repeat_count: typeContactCount[key]\n  };\n});\n\nreturn [{\n  body: {\n    account: { id: accountId, name: accountName, domain: (accountId || '').replace(/-/g, '') + '.io' },\n    signals: signals,\n    contacts: contacts\n  }\n}];"
      }
    },
    {
      "id": "170fe9c7-c857-4f0a-84c6-aec2d922adce",
      "name": "Score Account + Pick Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-208, -16],
      "parameters": {
        "jsCode": "const BASE_WEIGHTS = { pricing_page: 25, competitor_compare: 20, ceo_followup_content: 15, whitepaper_form_fill: 12, webinar_attend: 12, docs_page: 8, longform_blog_read: 6 };\nconst REPEAT_MULTIPLIERS = { pricing_page: 1.5, competitor_compare: 1.5, docs_page: 1.8, longform_blog_read: 1.5 };\nconst THIRD_PARTY_WEIGHTS = { bombora_surge: 5, g2_compare_view: 5 };\nconst THIRD_PARTY_CAP = 10;\nconst VELOCITY_SIGNAL_THRESHOLD = 5;\nconst VELOCITY_WINDOW_DAYS = 7;\nconst VELOCITY_MULTIPLIER = 1.3;\nconst COMPOSITION_BONUS = { three_contacts: 10, four_plus_contacts: 15 };\nconst HOT_SCORE_THRESHOLD = 80;\nconst HOT_CONTACT_THRESHOLD = 3;\nconst MIN_FIRST_PARTY_FOR_HOT = 15;\n\nconst payload = $input.first().json.body;\nconst account = payload.account;\nconst signals = payload.signals;\nconst contacts = payload.contacts;\n\nlet firstPartyScore = 0;\nlet thirdPartyRaw = 0;\nconst scoredSignals = [];\n\nfor (const sig of signals) {\n  const isThirdParty = Object.prototype.hasOwnProperty.call(THIRD_PARTY_WEIGHTS, sig.type);\n  if (isThirdParty) {\n    const pts = THIRD_PARTY_WEIGHTS[sig.type] || 0;\n    thirdPartyRaw += pts;\n    scoredSignals.push({ id: sig.id, type: sig.type, contact_id: sig.contact_id, days_ago: sig.days_ago, repeat_count: sig.repeat_count, points: pts, category: \"third_party\", multiplier_applied: 1.0 });\n  } else {\n    const base = BASE_WEIGHTS[sig.type] || 0;\n    const mult = sig.repeat_count > 1 ? (REPEAT_MULTIPLIERS[sig.type] || 1.0) : 1.0;\n    const pts = Math.round(base * mult);\n    firstPartyScore += pts;\n    scoredSignals.push({ id: sig.id, type: sig.type, contact_id: sig.contact_id, days_ago: sig.days_ago, repeat_count: sig.repeat_count, points: pts, category: \"first_party\", multiplier_applied: mult });\n  }\n}\n\nconst thirdPartyScore = Math.min(thirdPartyRaw, THIRD_PARTY_CAP);\nconst recentSignals = signals.filter(s => s.days_ago <= VELOCITY_WINDOW_DAYS).length;\nconst velocityTriggered = recentSignals >= VELOCITY_SIGNAL_THRESHOLD;\nconst distinctContacts = new Set(signals.filter(s => s.contact_id).map(s => s.contact_id)).size;\n\nlet compositionBonus = 0;\nif (distinctContacts >= 4) compositionBonus = COMPOSITION_BONUS.four_plus_contacts;\nelse if (distinctContacts >= 3) compositionBonus = COMPOSITION_BONUS.three_contacts;\n\nconst rawScore = firstPartyScore + thirdPartyScore;\nconst afterVelocity = velocityTriggered ? Math.round(rawScore * VELOCITY_MULTIPLIER) : rawScore;\nconst finalScore = Math.min(afterVelocity + compositionBonus, 100);\nconst firstPartyInsufficient = firstPartyScore < MIN_FIRST_PARTY_FOR_HOT;\nconst isHot = finalScore >= HOT_SCORE_THRESHOLD && distinctContacts >= HOT_CONTACT_THRESHOLD && velocityTriggered && !firstPartyInsufficient;\nconst state = isHot ? \"HOT\" : \"WARM\";\n\nconst reasons = [];\nif (finalScore >= HOT_SCORE_THRESHOLD) { reasons.push(\"score \" + finalScore + \" crossed \" + HOT_SCORE_THRESHOLD + \" threshold\"); } else { reasons.push(\"score \" + finalScore + \" below \" + HOT_SCORE_THRESHOLD + \" threshold\"); }\nif (distinctContacts >= HOT_CONTACT_THRESHOLD) { reasons.push(distinctContacts + \" contacts active\"); } else { reasons.push(\"only \" + distinctContacts + \" contact(s) active\"); }\nif (velocityTriggered) { reasons.push(\"velocity triggered (\" + recentSignals + \" signals in \" + VELOCITY_WINDOW_DAYS + \" days)\"); } else { reasons.push(\"velocity not triggered (\" + recentSignals + \" signals in \" + VELOCITY_WINDOW_DAYS + \" days)\"); }\nif (firstPartyInsufficient) { reasons.push(\"blocked: first-party insufficient\"); }\nconst stateReason = state + \": \" + reasons.join(\", \");\n\nconst contactActivity = {};\nfor (const sig of signals) {\n  if (!sig.contact_id) continue;\n  if (!contactActivity[sig.contact_id] || sig.days_ago < contactActivity[sig.contact_id].days_ago) {\n    contactActivity[sig.contact_id] = { days_ago: sig.days_ago, last_signal_type: sig.type };\n  }\n}\nconst tierRank = { decision_maker: 3, influencer: 2, end_user: 1 };\nconst rankedContacts = contacts.filter(c => contactActivity[c.id]).map(c => ({ id: c.id, name: c.name, title: c.title, role_tier: c.role_tier, rank: tierRank[c.role_tier] || 0, recency: contactActivity[c.id].days_ago, last_signal: contactActivity[c.id].last_signal_type })).sort((a, b) => b.rank - a.rank || a.recency - b.recency);\nconst bestContact = rankedContacts[0] || null;\n\nreturn [{\n  account: account,\n  scoring: { first_party_score: firstPartyScore, third_party_score: thirdPartyScore, raw_score: rawScore, velocity_triggered: velocityTriggered, velocity_recent_signals: recentSignals, composition_bonus: compositionBonus, distinct_contacts: distinctContacts, final_score: finalScore },\n  state: state,\n  state_reason: stateReason,\n  best_contact: bestContact,\n  ranked_contacts: rankedContacts,\n  scored_signals: scoredSignals,\n  all_contacts: contacts\n}];"
      },
      "_bug_notes": "BUG 1 source: 'Insert inbound_alerts' downstream writes $json.best_contact.id as best_contact_email. The contact id == person_id (e.g. 'orion-001'), not the email. Fix: pass through person_email from signals here so the insert can write the actual email."
    },
    {
      "id": "b9c3f445-d6ab-4f44-8814-c82755df9a6e",
      "name": "Write inbound_alerts Row",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [0, -16],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO inbound_alerts (\n  account_id, account_name, score, state, tier,\n  assigned_rep_id, assigned_rep_slack_id,\n  best_contact_email, best_contact_name, best_contact_title,\n  score_breakdown,\n  velocity_window_days, signal_count, contact_count, first_party_points,\n  delivered_at\n) VALUES (\n  '{{ $json.account.id }}',\n  '{{ $json.account.name }}',\n  {{ $json.scoring.final_score }},\n  '{{ $json.state.toLowerCase() }}',\n  'tier2',\n  1,\n  'U0ANRG80F2Q',\n  {{ $json.best_contact ? \"'\" + $json.best_contact.id + \"'\" : 'NULL' }},\n  {{ $json.best_contact ? \"'\" + $json.best_contact.name + \"'\" : 'NULL' }},\n  {{ $json.best_contact ? \"'\" + $json.best_contact.title + \"'\" : 'NULL' }},\n  '{{ JSON.stringify($json.scoring) }}'::jsonb,\n  7,\n  {{ $json.scored_signals.length }},\n  {{ $json.scoring.distinct_contacts }},\n  {{ $json.scoring.first_party_score }},\n  now()\n) RETURNING id",
        "options": {}
      },
      "_bug_notes": "BUG 1 confirmed here: writes $json.best_contact.id (== person_id, e.g. 'orion-001') into best_contact_email column. BUG 2 confirmed here: signal_event_ids column is not in the INSERT, so it persists as NULL."
    },
    {
      "id": "3ede46e0-9895-4290-99fa-7bc112a3a8ec",
      "name": "Send a message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [208, -16],
      "webhookId": "b9638b57-8ae7-4dfe-8700-b9c8bc04181d",
      "parameters": {
        "select": "user",
        "user": { "__rl": true, "value": "U0ANRG80F2Q", "mode": "id" },
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify({ blocks: [ { type: \"context\", elements: [{ type: \"mrkdwn\", text: \":rotating_light: *SDR ALERT* · Inbound Synthesis · \" + $(\"Score Account + Pick Contact\").item.json.state }] }, { type: \"header\", text: { type: \"plain_text\", text: $(\"Score Account + Pick Contact\").item.json.account.name + \"  ·  score \" + $(\"Score Account + Pick Contact\").item.json.scoring.final_score + \"/100\", emoji: true } }, { type: \"section\", text: { type: \"mrkdwn\", text: \"> *Account:*  \" + $(\"Score Account + Pick Contact\").item.json.account.name + \"\\n> *State:*  \" + $(\"Score Account + Pick Contact\").item.json.state + \" · buying committee forming\\n> *Committee (\" + $(\"Score Account + Pick Contact\").item.json.scoring.distinct_contacts + \"):*  \" + $(\"Score Account + Pick Contact\").item.json.all_contacts.map(function(c) { return c.title; }).join(\" · \") + \"\\n> *Best contact:*  \" + $(\"Score Account + Pick Contact\").item.json.best_contact.name + \" (\" + $(\"Score Account + Pick Contact\").item.json.best_contact.title + \")\\n> *Signals (30d):*  \" + $(\"Score Account + Pick Contact\").item.json.scored_signals.filter(function(s) { return s.category === \"first_party\"; }).length + \" first-party · \" + $(\"Score Account + Pick Contact\").item.json.scored_signals.filter(function(s) { return s.category === \"third_party\"; }).length + \" third-party\\n> *Velocity:*  \" + $(\"Score Account + Pick Contact\").item.json.scoring.velocity_recent_signals + \" signals in 7d\" } }, { type: \"context\", elements: [{ type: \"mrkdwn\", text: \"*Actions*\" }] }, { type: \"actions\", elements: [ { type: \"button\", text: { type: \"plain_text\", text: \"Outreach\", emoji: true }, url: \"https://app.outreach.io/prospects/search?q=\" + encodeURIComponent($(\"Score Account + Pick Contact\").item.json.best_contact.name), action_id: \"open_outreach\" }, { type: \"button\", text: { type: \"plain_text\", text: \"Account Intel\", emoji: true }, url: \"https://app.pocus.com/accounts/\" + $(\"Score Account + Pick Contact\").item.json.account.id, action_id: \"open_account_intel\" }, { type: \"button\", text: { type: \"plain_text\", text: \"Sales Nav\", emoji: true }, url: \"https://linkedin.com/sales/search/people?companyIncluded=\" + encodeURIComponent($(\"Score Account + Pick Contact\").item.json.account.name), action_id: \"open_sales_nav\" }, { type: \"button\", text: { type: \"plain_text\", text: \"Salesforce\", emoji: true }, url: \"https://na1.salesforce.com/_ui/search/ui/UnifiedSearchResults?str=\" + encodeURIComponent($(\"Score Account + Pick Contact\").item.json.account.name), action_id: \"open_salesforce\" } ] }, { type: \"divider\" }, { type: \"actions\", elements: [ { type: \"button\", text: { type: \"plain_text\", text: \"Explain this score\", emoji: true }, value: $(\"Score Account + Pick Contact\").item.json.account.id, action_id: \"explain_score\", style: \"primary\" } ] }, { type: \"context\", elements: [{ type: \"mrkdwn\", text: \"_\" + $(\"Score Account + Pick Contact\").item.json.state_reason + \"_\" }] } ] }) }}",
        "otherOptions": { "includeLinkToWorkflow": false }
      }
    }
  ],
  "_stickies_summary": [
    "Sticky Ingest — explains webhook trigger",
    "Sticky Query — explains 30d Supabase read",
    "Sticky Scoring — documents canonical formula",
    "Sticky Alert — explains inbound_alerts write",
    "Sticky DM — explains the DM-not-channel rationale + 5 buttons"
  ]
}
